<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Home', root_path%>
            </li>
            <li>
                <!-- <a href="#">LOGIN</a> -->
                <%= link_to 'LOGIN', new_user_session_path%>
            </li>
            <li class="active">REGISTER</li>
        </ol>
    </div>
</div>

<!-- reg-form -->
	<div class="reg-form">
		<div class="container">
			<div class="reg">
				<h3>Register Now</h3>
				<p>Welcome, please enter the following details to continue.</p>
				<p>If you have previously registered with us, <a href="#">click here</a></p>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                  <%= devise_error_messages! %>
					<!-- <ul>
						<li class="text-info">First Name: </li>
						<li><input type="text" value=""></li>
					</ul> -->
					<ul>
						<li class="text-info">Email: </li>
						<li>
                            <!-- <input type="text" value=""> -->
                            <%= f.email_field :email, autofocus: true %>
                        </li>
					</ul>
					<ul>
						<li class="text-info">Password: </li>
						<li>
                            <!-- <input type="password" value=""> -->
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "off" %>
                        </li>
					</ul>
					<ul>
						<li class="text-info">Re-enter Password:</li>
						<li>
                            <!-- <input type="password" value=""> -->
                            <%= f.password_field :password_confirmation, autocomplete: "off" %>
                        </li>
					</ul>
					<!-- <ul>
						<li class="text-info">Mobile Number:</li>
						<li><input type="text" value=""></li>
					</ul> -->
					<!-- <input type="submit" value="Register Now"> -->
                    <div class="actions">
                      <%= f.submit "Register Now" %>
                    </div>
					<p class="click">By clicking this button, you are agree to my  <a href="#">Policy Terms and Conditions.</a></p>
				<% end %>
			</div>
		</div>
	</div>

<!-- # <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
#   <%= devise_error_messages! %>
#
#   <div class="field">
#     <%= f.label :email %><br />
#     <%= f.email_field :email, autofocus: true %>
#   </div>
#
#   <div class="field">
#     <%= f.label :password %>
#     <% if @minimum_password_length %>
#     <em>(<%= @minimum_password_length %> characters minimum)</em>
#     <% end %><br />
#     <%= f.password_field :password, autocomplete: "off" %>
#   </div>
#
#   <div class="field">
#     <%= f.label :password_confirmation %><br />
#     <%= f.password_field :password_confirmation, autocomplete: "off" %>
#   </div>
#
#   <div class="actions">
#     <%= f.submit "Sign up" %>
#   </div>
# <% end %> -->

<!-- # <%= render "devise/shared/links" %> -->
