<%= form_for(@order) do |f| %>
  <!-- <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>

      <% end %>
      </ul>
    </div> -->
  <% end %>

  <ul>
      <li class="text-info">Name: </li>
      <li>
          <!-- <input type="text" value=""> -->
          <!-- <%= f.email_field :email, autofocus: true %> -->
          <%= f.text_field :name, autofocus: true %>
      </li>
  </ul>

  <ul>
      <li class="text-info">Address: </li>
      <li>
          <!-- <input type="text" value=""> -->
          <!-- <%= f.email_field :email, autofocus: true %> -->
          <%= f.text_area :address %>
      </li>
  </ul>

  <ul>
      <li class="text-info">Email: </li>
      <li>
          <!-- <input type="text" value=""> -->
          <!-- <%= f.email_field :email, autofocus: true %> -->
          <%= f.text_field :email %>
      </li>
  </ul>

  <ul>
      <li class="text-info">Pay Type: </li>
      <li>
          <!-- <input type="text" value=""> -->
          <!-- <%= f.email_field :email, autofocus: true %> -->
          <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: "Select payment method" %>
      </li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
