<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!-- login-page -->
        <div class="login">
            <div class="container">
                <div class="login-grids">
                    <div class="col-md-6 log">
                             <h3>Login</h3>
                             <div class="strip"></div>
                             <p>Welcome, please enter the following to continue.</p>
                             <p>If you have previously Login with us, <a href="#">Click Here</a></p>

                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                 <h5>Email:</h5>
                                 <!-- <div class="field"> -->
                                   <!-- <%= f.label :email %><br /> -->
                                   <%= f.email_field :email, autofocus: true %>
                                 <!-- </div> -->

                                 <!-- <input type="text" value=""> -->
                                 <!-- <div class="field"> -->
                                 <h5>Password:</h5>
                                   <!-- <%= f.label :password %><br /> -->
                                   <%= f.password_field :password, autocomplete: "off" %>
                                 </div>

                                 <h5>Password:</h5>
                                 <input type="password" value=""><br>

                                 <div class="actions">
                                   <%= f.submit "Log in" %>
                                 </div>
                                 
                                 <input type="submit" value="Login">


                            <% end %>
                            <a href="#">Forgot Password ?</a>
                    </div>
                    <div class="col-md-6 login-right">
                            <h3>New Registration</h3>
                            <div class="strip"></div>
                            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a href="register.html" class="button">Create An Account</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
<!-- //login-page -->
