<!--A Design by Galactic Technologies
Author: Abid Ramay
Author URL: http://
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!-- Carousel start -->
<div class="header-end">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!-- <img src="./images/shoe3.jpg" alt="..."> -->
                <%= image_tag "shoe3.jpg"%>
                <div class="carousel-caption car-re-posn">
                    <h3>AirMax</h3>
                    <h4>You feel to fall</h4>
                    <span class="color-bar"></span>
                </div>
            </div>
            <div class="item">
                <%= image_tag "shoe1.jpg"%>
                <div class="carousel-caption car-re-posn">
                    <h3>AirMax</h3>
                    <h4>You feel to fall</h4>
                    <span class="color-bar"></span>
                </div>
            </div>
            <div class="item">
                <%= image_tag "shoe2.jpg"%>
                <div class="carousel-caption car-re-posn">
                    <h3>AirMax</h3>
                    <h4>You feel to fall</h4>
                    <span class="color-bar"></span>
                </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left car-icn" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right car-icn" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Carousel end -->

    <div class="feel-fall">
        <div class="container">
            <div class="pull-left fal-box">
                <div class=" fall-left">
                    <h3>Fall</h3>
                    <%= image_tag "f-l.png", class: "img-rsponsive fl-img-wid"%>
                    <p>Inspiration and innovation<br> for every athlete in the world</p>
                    <span class="fel-fal-bar"></span>
                </div>
            </div>
            <div class="pull-right fel-box">
                <div class="feel-right">
                    <h3>Feel</h3>
                    <%= image_tag "f-r.png", class: "img-rsponsive fl-img-wid"%>
                    <!-- <img src="images/f-r.png" alt="/" class="img-responsive fl-img-wid"> -->
                    <p>Inspiration and innovation<br> for every athlete in the world</p>
                    <span class="fel-fal-bar2"></span>
                </div>
            </div>
        <div class="clearfix"></div>
        </div>
    </div>

    <div class="shop-grid">
        <div class="container">

            <% @products.each do |product| %>

            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                 <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                <div class="img"><%= image_tag(product.image, class: "img-responsive gri-wid") %> </div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3><%= product.id %></h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a  href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price"><%= product.price %></span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <a href="single.html"><%= link_to "Quick view", product_path(product) %></a>

                </div>
            </div>
            <% end %>
