=link_to "Home", root_path
#li
  %h3
    %strong
      #span= @product.name
=image_tag("#{@product.image}")
#li
  %strong Price:
#span= number_to_currency(@product.price)
#li
  %strong Description:
#span= @product.description
#li
  %strong Quantity:
#span= @product.quantity
#li
  %strong Category:

- @product.categories.each do |c|
  = c.name
  %br



  <%= link_to "Home", root_path %>
  <div id="li">
    <h3>
      <strong>
        <div id="span">
          <%= @product.name %>
        </div>
      </strong>
    </h3>
  </div>
  <%= image_tag("#{@product.image}") %>
  <div id="li">
    <strong>Price:</strong>
  </div>
  <div id="span">
    <%= number_to_currency(@product.price) %>
  </div>
  <div id="li">
    <strong>Description:</strong>
  </div>
  <div id="span">
    <%= @product.description %>
  </div>
  <div id="li">
    <strong>Quantity:</strong>
  </div>
  <div id="span">
    <%= @product.quantity %>
  </div>
  <div id="li">
    <strong>Category:</strong>
  </div>
  <% @product.categories.each do |c| %>
    <%= c.name %>
    <br/>
  <% end %>
