=link_to "Home", root_path
#li Name:
#span= @product.name
#li Price:
#span= number_to_currency(@product.price)
#li Description:
#span= @product.description
#li Quantity:
#span= @product.quantity
=image_tag("#{@product.image}")
=link_to "Edit", edit_product_path(@product)
=button_to "Delete", {id: @product.id }, method: :delete, action: :destroy, data: { confirm: "Are you sure?" }

